.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItem {
 text-decoration: none;
 color: black;
}

.dialogsMessages {
    padding: 10px;
}

.dialogsMessage {
    background-color: white;
}

.active {
    text-decoration: none;
    color: #bb4242;
    font-weight: bold;
}

.createForm {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textArea {
    width: 90%;
    height: 30px;
}
.send {
    padding: 10px 30px;
    cursor: pointer;
    color: white;
    background-color: #bb4242;
}

.button {
    margin-top: 15px;
}

.send:hover {
    color: black;
}
