.body {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 2%;
     width: 100%;
     
}
.wrapper {
    border: 2px solid #bb4242;
    box-sizing: content-box;
    width: 80%;
    margin-left: 3%;
    margin-top: 20px;
    background-color: white;
}

.img {
    width: 35px;
    border-radius: 50%;
}

.name {
    margin-left: 2%;
    font-weight: bold;
}
.text {
    margin-left: 2.3%;
    width: 95%;
}

.time {
    margin-left: 3%;
    font-size: 14px;
    font-weight: bold;
    color: lightgray;
}